<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/filmadditem.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="../img/logo.png" alt="">
        
    </nav>
    <div class="detiles">
        <h1>Add film item</h1>
        <input id="name" type="text" placeholder="Name">
        <input id="year" type="text" placeholder="Year">
        <input id="image_poster" type="text" placeholder="image poster">
        <input id="type" type="text" placeholder="type (#tags etc : english , arabic)">
        <input id="Description" type="text" placeholder="Description">
    </div>
     <div class="detiles">
        <h1>Cast</h1>
        <input id="actor1" type="text" placeholder="Actor 1">
        <input id="actor2" type="text" placeholder="Actor 2">
        <input id="actor3" type="text" placeholder="Actor 3">
        <input id="actor4" type="text" placeholder="Actor 4">
      
    </div>
    <div class="video">
        <h1>Video embbed link</h1>
        <input id="embbed" type="text" placeholder="video link html">
    </div>
     <div class="save">
         <input id="save" type="button" value="Save">
     </div>
         <script id="checkuser" data-name="unlogin" src="../js/checkuser.js"></script>
         <script src="../js/Add/addfilm.js"></script>

</body>
</html>