<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script id="checkuser" data-name="unlogin" src="../js/checkuser.js"></script>
    <link rel="stylesheet" href="../css/catigory.css">
    <title>Document</title>
    
</head>
<body>
    <nav>
        <img src="../img/navtwo.png" alt="">
    </nav>
    <section>
        <div>
            <div id="film" class="item">
                <img src="../img/film.jpg" alt="">
                <h4>films</h4>
            </div>
              <div id="series" class="item">
                <img src="../img/series.jpg" alt="">
                <h4>Series</h4>
            </div>
              <div id="football" class="item">
                <img src="../img/football.jpg" alt="">
                <h4>Football</h4>
            </div>
               <div id="logout" class="item">
                <img src="../img/exit.jpg" alt="">
                <h4>Logout</h4>
            </div>
            
        </div>
    </section>
        
<script src="../js/catagiory.js"></script>
</body>
</html>