<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Episod.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="../img/logo.png" alt="">
    </nav>
    <div class="additem">
        <input type="button" value="Add new item">
        <h4>Episods</h4>
        <div>
            <input type="text" placeholder="search">
            <img src="../img/search.png" alt="">
        </div>
    </div>
    <div class="countiner">
        <div>
            <h5 class="episod">1</h5>
            <div class="piceone">
                <img src="../img/aa.jpg" alt="">
            </div>
            <div class="picetwo">
                <h1>interstaller</h1>
            </div>
            <div class="picethree">
                <h1>update</h1>
                <h1>remove</h1>
            </div>
        </div>
        <div>
            <h5 class="episod">2</h5>
            <div class="piceone">
                <img src="../img/aa2.jpg" alt="">
            </div>
            <div class="picetwo">
                <h1>امير البحار</h1>
            </div>
            <div class="picethree">
                <h1>update</h1>
                <h1>remove</h1>
            </div>
        </div>
        <div>
            <h5 class="episod">3</h5>
            <div class="piceone">
                <img src="../img/aa3.jpg" alt="">
            </div>
            <div class="picetwo">
                <h1>the myth</h1>
            </div>
            <div class="picethree">
                <h1>update</h1>
                <h1>remove</h1>
            </div>
        </div>
        <div>
            <h5 class="episod">4</h5>
            <div class="piceone">
                <img src="../img/aa4.png" alt="">
            </div>
            <div class="picetwo">
                <h1>titanic</h1>
            </div>
            <div class="picethree">
                <h1>update</h1>
                <h1>remove</h1>
            </div>
        </div>
    </div>
    
</body>
</html>