<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/films.css">
    <title>Document</title>
</head>
<body>
    <nav style="margin-bottom: 50px;">
        <img src="../img/logo.png" alt="">
        <input id="films" type="button" value="Films">
        <input id="series" type="button" value="Series">
        <input id="football" type="button" value="Football">
        <input id="logout" type="button" value="Logout">
    </nav>
    <div class="additem">
        <input id="additem" type="button" value="Add new item">
        <h4>Films</h4>
        <div>
            <input type="text" placeholder="search">
            <img src="../img/search.png" alt="">
        </div>
    </div>
    <div id="countiner" class="countiner">
        
       
        
      
    </div>
    <script id="checkuser" data-name="unlogin" src="../js/checkuser.js"></script>
    <script id="helper" add-item="../dashboard/addfilm" end-point="/getfilms" finsh-endpoint='/films' reomve-endpoint="/removefilm/" update-endpoint="../dashboard/updatefilm/" src="../js/getitem_update_remove/item_query_update_remove.js"></script>
</body>
</html>