<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <nav>
        <img src="../img/nav.png" alt="">
    </nav>
    <section>
       
        <div class="logo">
            <img src="../img/logo.png" alt="">
        </div>
         <div class="login">
            <input type="text" name="" id="email" placeholder="Email">
            <input type="password" name="" id="password" placeholder="password">
            <input type="button" name="" id="login" value="login">
        </div>
    </section>
    <script id="checkuser" data-name="login" src="../js/checkuser.js"></script>
    <script src="../js/adminlogin.js"></script>
</body>
</html>