<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/filmadditem.css">
    <title>Document</title>
    
</head>
<body>
    <nav>
        <img src="../../img/logo.png" alt="">
    </nav>
    <div class="detiles">
        <h1>update match item</h1>
        <input id="id" type="text" placeholder="id" disabled="true" value="{{id}}">
        <input id="first" type="text" placeholder="first team">
        <input id="sec" type="text" placeholder="secound team">
        <input id="imageposter" type="text" placeholder="image poster">
         <input id="time" type="text" placeholder="time etc(22:00)">
    </div>
   
    <div class="video">
        <h1>Video embbed link</h1>
        <input id="video" type="text" placeholder="video link html">
    </div>
     <div class="save">
         <input id="update" type="button" value="update">
     </div>
</body>
<script id="checkuser" data-name="unlogin" src="../../js/checkuser.js"></script>
<script src="../../js/Update/updatefootball.js"></script>
</html>